/* Estilos Universales*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* Importar fuente de texto: Inter*/

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

  body{
    width: 393px;
    height: 852px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid black
}

a{
    text-decoration: none;
    color: black;
}

/* PANTALLA 1: INICIO */

/* Estilos de la cabecera*/

header{
    width: 100%;
    min-width: 393px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    column-gap: 44px;
    align-items: center;
    padding: 0 12px 0px 12px;
}

.header__menu .fa-bars{
    color: #027000;
    font-size: 22px;
}

.header__logo p{
    color: #FAF014;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
}

.header__logo span{
    color: #027000;
}

.header__navbar > ul {
    display: flex;
    list-style: none;
    font-size: 16px;
    column-gap: 16px;
}
.header__navbar ul li a{
    color: #027000;
    font-size: 16px;
    line-height: 19.36px;
}

.fa-cart-shopping{
    color: #027000;
    font-size: 20px;
}

/* Estilos del main - sección 1*/

.main--home{
    width: 100%;
    min-width: 393px;
    height: auto;
}

.main--home__up{
    width: 100%;
    min-width: 393px;
    height: 307px;
    padding: 55px 0px 19px 11px;
    background-image: url(./assets/background.png);
    background-position: center;
    border: 0;
}

.main--home__up h1{
    font-size: 30px;
    font-weight: 600;
    line-height: 36.31px;
    margin-bottom: 47px;
    color: white;
}

.main--home__up p{
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    margin-bottom: 94px;
    color: #FAF014;

}

.main--home__up a{
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    display: block;
    width: 109px;
    height: 28px;
    background-color: #027000;
    margin-left: 9px;
    text-align: center;
    border-radius: 20px;
    color: white;
}

/* Estilos del main - sección 2*/

.main--home__middle{
    width: 100%;
    min-width: 393px;
    height: 88px;
    padding: 17px 14px 15px 14px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    column-gap: 25px;
    align-content: center;
}

.main--home__middle a{
    border-radius: 30px;
    background-color: #027000;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
}

/* Estilos del main - sección 3*/

.main--home__end{
    width: 100%;
    min-width: 393px;
    height: 413px;
    border: 1px solid black;
    padding: 21px 18px 15px 18px;
    display: grid;
    grid-template-rows: repeat(3, 114px);
    row-gap: 17.5px;
}
.food--description{
    display: flex;
    border: 1px solid black;
}

.food--description p{
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    align-self: center;
    padding-left: 14px;
}

/* PANTALLA 2: LOGIN */

/* Estilos de la cabecera*/

.header__menu .fa-backward{
    color: #027000;
    font-size: 20px;
}

.header__menu .fa-backward span{
    color: #027000;
    font-size: 16px;
    line-height: 19.36px;
    font-weight: 300;
}
.header__navbar ul li a{
    display: none;
}

/* Estilos del main*/

.main--login{
    width: 100%;
    min-width: 393px;
    height: auto;
    padding: 95px 19px 121px 17px;
    border: 1px solid black;
}

.main--login > h1{
    font-size: 40px;
    line-height: 48.41px;
    margin-left: 35px;
    width: 289px;
    height: 87px;
    margin-bottom: 77px;
    font-style: italic;
    color: #027000;
}
.main--login > h1 span{
    color: #FAF014;
}
.login--form{
    display: grid;
}

.login--form div{
    height: 114px;
    background-color: #D9D9D9 ;
    border-radius: 30px;
    padding: 31px 18px;
    display: flex;
    background-color: #027000;
    justify-content: space-between;
}

.login--form div:nth-child(1){
    margin-bottom: 24px;
}

.login--form div:nth-child(2){
    margin-bottom: 64px;
}

.login--form div label{
    font-size: 20px;
    line-height: 24.2px;
    align-self: center;
    color: white;
}

.login--form div input{
    width: 203px;
    border-radius: 30px;
    border: 0;
    padding-left: 10px;
}

.button--form{
    width: 109px;
    height: 28px;
    justify-self: center;
    margin-bottom: 60px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 24.2px;
    border-radius: 30px;
    color: #027000;
    background-color: #FAF014;
    border: 0;
}

.login--form > p{
    margin-left: 17px;
    font-size: 20px;
    line-height: 24.2px;
    color: #FAF014;    
}


.login--form > p a{
    font-weight: 700;
    color:#027000;
}

/* PANTALLA 3: SIGN UP */

/* Estilos del main*/

.main--registro{
    width: 100%;
    min-width: 393px;
    height: auto;
    padding: 27px 18px 17px 18px;
}

.main--registro > h1{
    font-size: 40px;
    line-height: 48.41px;
    width: 168px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 18px;
    font-style: italic;
    color: #027000;
}

.register{
    margin-bottom: 0;
    height: 39px;
    width: 331px;
    font-size: 25px;
}

.registro--form{
    display: grid;
}

.registro--form div{
    height: 66px;
    background-color: #027000 ;
    border-radius: 15px;
    padding: 14px 18px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.registro--form div label{
    align-self: center;
    font-size: 20px;
    line-height: 24.2px;
    color: white;
}
.registro--form div input{
    width: 203px;
    border-radius: 15px;
    border: 0;
    padding-left: 10px;
}

.registro--form div:nth-child(7) label{
    width: 89px;
}

.registro--form div:nth-child(7){
    margin-bottom: 40px;
}

/* PANTALLA 4: TABLE RESERVATION */

/* Estilos del header*/

.header__navbar ul li .user--name{
    display: block;
}

/* Estilos del main*/

.main--reserva2{
    width: 100%;
    min-width: 393px;
    height: auto;
    padding: 87px 9px 17px 9px;
}

.reserva2--form{
    display: flex;
    flex-direction: column;
}



.reserva2--form__tables h3{
    font-size: 30px;
    font-style: italic;
    line-height: 36.31px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 39px;
    color: #027000;
}
.tables--distribution{
    height: 330px;
    display: grid;
    grid-template-columns: repeat(25, 15px);
    grid-template-rows: repeat(22, 15px);
    grid-template-areas: 
    ". . . . . . . . . . . . . . . . . . . . . . . . . "
    ". . S1 S1 S1 S1 S1 S1 S1 S1 . . . . S2 S2 S2 S2 S2 S2 S2 S2 . . ."
    ". . S1 S1 S1 S1 S1 S1 S1 S1 . . . . S2 S2 S2 S2 S2 S2 S2 S2 . . ."
    ". . S1 S1 S1 S1 S1 S1 S1 S1 . . . . S2 S2 S2 S2 S2 S2 S2 S2 . . ."
    ". . S1 S1 S1 S1 S1 S1 S1 S1 . . . . S2 S2 S2 S2 S2 S2 S2 S2 . . ."
    ". . S1 S1 S1 S1 S1 S1 S1 S1 R1 . . . S2 S2 S2 S2 S2 S2 S2 S2 R2 . ."
    ". . S1 S1 S1 S1 S1 S1 S1 S1 . . . . S2 S2 S2 S2 S2 S2 S2 S2 . . ."
    ". . S1 S1 S1 S1 S1 S1 S1 S1 . . . . S2 S2 S2 S2 S2 S2 S2 S2 . . ."
    ". . S1 S1 S1 S1 S1 S1 S1 S1 . . . . S2 S2 S2 S2 S2 S2 S2 S2 . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . . . "
    ". . S3 S3 S3 S3 S3 S3 S3 S3 . . . . S4 S4 S4 S4 S4 S4 S4 S4 . . ."
    ". . S3 S3 S3 S3 S3 S3 S3 S3 . . . . S4 S4 S4 S4 S4 S4 S4 S4 . . ."
    ". . S3 S3 S3 S3 S3 S3 S3 S3 . . . . S4 S4 S4 S4 S4 S4 S4 S4 . . ."
    ". . S3 S3 S3 S3 S3 S3 S3 S3 . . . . S4 S4 S4 S4 S4 S4 S4 S4 . . ."
    ". . S3 S3 S3 S3 S3 S3 S3 S3 R3 . . . S4 S4 S4 S4 S4 S4 S4 S4 R4 . ."
    ". . S3 S3 S3 S3 S3 S3 S3 S3 . . . . S4 S4 S4 S4 S4 S4 S4 S4 . . ."
    ". . S3 S3 S3 S3 S3 S3 S3 S3 . . . . S4 S4 S4 S4 S4 S4 S4 S4 . . ."
    ". . S3 S3 S3 S3 S3 S3 S3 S3 . . . . S4 S4 S4 S4 S4 S4 S4 S4 . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . "
    ;
    background-color: #FAF014;
}

.table1{
    grid-area: S1;
}
.table2{
    grid-area: R1;
}
.table3{
    grid-area: S2;
}
.table4{
    grid-area: R2;
}
.table5{
    grid-area: S3;
}
.table6{
    grid-area: R3;
}
.table7{
    grid-area: S4;
}
.table8{
    grid-area: R4;
}

.tables--distribution label{
    border-radius: 50%;
    background-color:#027000  ;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    line-height: 36.31px;
    font-weight: 700;
    color: #FAF014;
    padding-top: 40px;
}
.tables--distribution input:checked{
    border: 6px solid black;
}

section .specialone{
    margin-bottom: 30px;
}



.reserva--form{
    margin-top: 21px;
    display: grid;
    padding: 0 16px 0 17px;
    grid-template-columns: 132px 206px;
    grid-template-areas: 
     "space1 space2"
     "space3 space4"
     "space5 space6"
     "space7 space7";
     column-gap: 5px;
     row-gap: 8px;
}

.item1{
    grid-area: space1;
}
.item2{
    grid-area: space2;
}
.item3{
    grid-area: space3;
}
.item4{
    grid-area: space4;
}
.item5{
    grid-area: space5;
}
.item6{
    grid-area: space6;
}
.item7{
    grid-area: space7;
    display: block;
    height: 39px;
    width: 331px;
    text-decoration: none;
    color: black;
    background-color: #027000 ;
    font-size: 25px;
    justify-self: center;
    text-align: center;
    border-radius: 10px;
    border: 0;
    color: #FAF014;
    text-transform: uppercase;
}

.different{
    padding-top: 6px;
}

.item7:hover{
    background-color: #D7BDE2  ;
}

.item1, .item3, .item5{
    font-size: 30px;
    font-style: italic;
    line-height: 36.31px;
    color: #027000;
}

.item2, .item4, .item6{
    margin-bottom: 39px;
    height: 33px;
    padding-left: 5px;
    border: 2px solid #027000 ;
    align-self: center;
}

/* PANTALLA 5: CHECKOUT */
.main--pagos{
    width: 100%;
    min-width: 393px;
    height: auto;
    padding: 96px 37px 178px 37px;
}

.main--pagos h1{
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    line-height: 36.31px;
    margin-bottom: 137px;
    color: #027000;
}

.main--pagos section{
    display: grid;
    grid-template-columns: repeat(2, 136px);
    grid-template-rows: repeat(2, 138px);
    row-gap: 65px;
    column-gap: 44px;
}

.metodos--pago figure a{
    display: block;
    width: 100%;
    height: 100%;
}

.metodos--pago figure a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* PANTALLA 6: SUMMARY*/

.main--resumen{
    width: 100%;
    min-width: 393px;
    height: auto;
    padding: 110px 31px 23px 31px;
}

.main--resumen h1{
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    line-height: 36.31px;
    margin-bottom: 69px; 
    color: #027000;
}
.main--resumen p{
    width: 330px;
    height: 289px;
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    line-height: 30.26px;
    margin-bottom: 242px; 
    color: #027000;
}

.main--resumen p span{
    color: #FAF014;
    background-color: #027000;
}
